body {
    background-image: url(Background_Image.jpg);
    background-color: darkblue;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    padding: 0;
    margin: 0;
    border: 0;
}

.vtex {
    color: rgb(10, 53, 83);
    background-color: aliceblue;
    opacity: 0.8;
    font-size: 2rem;
    font-weight: bold;
    padding: 0.5%;
    text-align: center;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 1%;
    padding-bottom: auto;
    border: 0rem;
    margin-left: 0rem;
    margin-right: 0rem;
    margin-top: 0rem;
    margin-bottom: 0;


    
}

.header {
 margin: 0;
 padding: 0;
 border: 0;
}

p {
    text-align: center;
    color: whitesmoke;
}

.rules-text{
    display: flex;
    text-align: left;
    padding: 5% 1% 5% 5%;
    margin: 3rem;
    margin-top: 0rem;;
    border: 0.3rem solid;
    border-color: rgb(51, 51, 47);
    background-color: rgba(205, 232, 242, 0.8);
    font-size: x-large;
    font-weight: bold;
    color: black;
    
}

.rules-header{
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 20% 0% 2% 0%;
    margin: 0rem;
    border-bottom: 0.3rem;
    font-size: 3rem;
    
}

a {
    text-decoration: none;
    color: rgb(43, 81, 98);
    cursor: pointer;
}

a:hover {
    color:black;
}